@media (max-width: 710px) {
    .video-image {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }



    /* .faixa {
        margin-bottom: -90px;
    } */
}

@media (max-width: 1087px) {
    .background {
        background-image: url('../images/background-top2.png');
        height: auto;
        min-height: 709px;
    }


    .faixa-a {
        margin: 0;
        padding: 0;
        margin-top: -20px;
    }

    .img-redonda {
        margin-bottom: -812px;
    }
}

@media (max-width: 1087px) {
    .img-redonda {
        margin-bottom: -930px;
    }
}

@media (max-width: 864px) {
    .img-redonda {
        margin-bottom: -1100px;
    }
}


@media (max-width: 767px) {
    .img-redonda {
        margin-bottom: 0;
    }

    .background {
        background-image: url('../images/background-top2.png');
        height: auto;
        min-height: 709px;
    }

    .faixa-a {
        margin: 0;
        padding: 0;
        margin-top: -90px;
    }

    .img-redonda {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
}


@media (max-width: 768px) {
    /* .first-page {
        height: 1060px;
    } */

    .video-image {
        width: 80%;
        height: 80%;

        object-fit: cover;
    }

    .first-page-container {
        margin: 0 auto;
        max-width: 80%;
    }

    .btn-primary {
        width: 100%;
    }

    .video {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .benefit-table {
        width: 95%;
    }

    .comments {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .founder .btn-primary {
        margin: 2rem auto;
    }

    /* talvez da uma ajustada aqui */
    .founder {
        background-position: center top;
        background-size: cover;
        mix-blend-mode: normal;
    }

    /* min-height: 700px;
        max-height: 700px;

        min-height: 580px;
        max-height: 580px; */

    /* .service .card {
        height: auto;


        min-height: 580px;
        max-height: 580px;
    } */

    .service .card-body {
        padding: 35px;
    }

    .processes .timeline {
        padding: 3rem;
    }


    /* .benefit-table {
        border-radius: 38px;
    }

    .benefit-table table tr:first-child th:last-child {
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .benefit-table table tr:last-child td:last-child {
        border-end-start-radius:10px;
        border-end-end-radius: 10px;
    }

    .benefit-table table {
        padding-left: 8px;
    } */

    .benefit th,
    .benefit td {
        padding: 0;
        padding-top: 20px;
        font-size: 12px;
    }

    .benefit-table table td:last-child {
        font-size: 12px;
    }
}

@media (max-width: 637px) {
    .faixa-a {
        margin-top: -80px;
    }
}

@media (max-width: 561px) {
    .faixa-a {
        margin-top: -60px;
    }
}

@media (max-width: 412px) {
    .faixa-a {
        margin-top: -50px;
    }
}

@media (max-width: 350px) {
    .faixa-a {
        margin-top: -30px;
    }
}
