@media (max-width: 768px) {
    .first-page-container {
        margin: 0 auto;
        max-width: 80%;
    }
    .btn-primary {
        width: 100%;
    }

    .video {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .benefit-table {
        width: 95%;
    }

    .comments {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .founder .btn-primary {
        margin: 2rem auto;
    }

    /* talvez da uma ajustada aqui */
    .founder {
        background-position: center top;
        background-size: cover;
        mix-blend-mode: normal;
    }

    /* min-height: 700px;
        max-height: 700px;

        min-height: 580px;
        max-height: 580px; */

    /* .service .card {
        height: auto;


        min-height: 580px;
        max-height: 580px;
    } */

    .service .card-body {
        padding: 35px;
    }

    .timeline-line {
        height: 200%;
    }

}