@media (max-width: 710px) {
    .video-image {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    /* .background {    
        min-height: 1500px;
    } */

    /* .faixa {
        margin-bottom: -90px;
    } */
}

@media (max-width: 768px) {
    .first-page {
        height: 1060px;
    }
    .video-image {
        width: 80%;
        height: 80%;

        object-fit: cover;
    }

    .first-page-container {
        margin: 0 auto;
        max-width: 80%;
    }

    .btn-primary {
        width: 100%;
    }

    .video {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .benefit-table {
        width: 95%;
    }

    .comments {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .founder .btn-primary {
        margin: 2rem auto;
    }

    /* talvez da uma ajustada aqui */
    .founder {
        background-position: center top;
        background-size: cover;
        mix-blend-mode: normal;
    }

    /* min-height: 700px;
        max-height: 700px;

        min-height: 580px;
        max-height: 580px; */

    /* .service .card {
        height: auto;


        min-height: 580px;
        max-height: 580px;
    } */

    .service .card-body {
        padding: 35px;
    }

    .processes .timeline {
        padding: 3rem;
    }


    /* .benefit-table {
        border-radius: 38px;
    }

    .benefit-table table tr:first-child th:last-child {
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .benefit-table table tr:last-child td:last-child {
        border-end-start-radius:10px;
        border-end-end-radius: 10px;
    }

    .benefit-table table {
        padding-left: 8px;
    } */

    .benefit th,
    .benefit td {
        padding: 0;
        padding-top: 20px;
        font-size: 12px;
    }

    .benefit-table table td:last-child {
        font-size: 12px;
    }
}